__pycache__/
*.py[cod]
*$py.class

runs/
datasets/
weights/

*.pt
*.pth
*.onnx
*.engine
*.torchscript
*.tflite
*.mlpackage
*.cache
*.npy
*.npz
*.pkl
*.zip
*.rar
*.7z

.idea/
.vscode/
.DS_Store
Thumbs.db
